# Data Types and Structures

1. What are data structures, and why are they important?
-   Data structures are ways to organize and store data to enable efficient access and modification. They are important because they provide a means to manage large amounts of data efficiently, enabling better performance and scalability in software applications.

2. Explain the difference between mutable and immutable data types with examples.
- Mutable data types can be changed after their creation, e.g., lists ([1, 2, 3] can be modified). Immutable data types cannot be changed after creation, e.g., tuples ((1, 2, 3) cannot be modified).

3. What are the main differences between lists and tuples in Python?
- Lists are mutable and can be modified after creation ([1, 2, 3]). Tuples are immutable and cannot be modified once created ((1, 2, 3)).

4. Describe how dictionaries store data.
- Dictionaries store data as key-value pairs, allowing for fast retrieval of values based on their unique keys. The data is stored in a way that allows quick lookups.

5. Why might you use a set instead of a list in Python?
- Sets are used when you need to store unique elements and do not care about the order. They are efficient for membership tests (checking if an element is in the set).

6. What is a string in Python, and how is it different from a list?
- A string is an immutable sequence of characters ("hello"). Unlike lists, strings cannot be changed once created, and they only store characters.

7.  How do tuples ensure data integrity in Python?
- Tuples are immutable, which means their elements cannot be changed after creation, ensuring that the data remains constant throughout the program.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores key-value pairs and allows for fast data retrieval. Dictionaries in Python use hash tables to store and access data efficiently.

9. Can lists contain different data types in Python?
- Yes, lists can contain elements of different data types, such as integers, strings, and objects ([1, "hello", 3.14]).

10. Explain why strings are immutable in Python.
- Strings are immutable to ensure that they can be safely shared and used as keys in dictionaries without risk of being altered.

11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries provide fast lookups, insertions, and deletions based on keys, which can be more efficient than lists when dealing with a large amount of data that needs to be accessed by unique identifiers.

12. Describe a scenario where using a tuple would be preferable over a list.
- Tuples are preferable when you need to ensure the data remains constant and should not be modified, such as representing fixed collections of items like coordinates (x, y).

13. How do sets handle duplicate values in Python?
- Sets automatically handle duplicate values by only storing unique elements. Any duplicate element added to a set is ignored.

14. How does the “in” keyword work differently for lists and dictionaries?
- For lists, the in keyword checks for the presence of a value. For dictionaries, it checks for the presence of a key.

15. Can you modify the elements of a tuple? Explain why or why not.
- No, you cannot modify the elements of a tuple because tuples are immutable.

16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary within another dictionary. It is useful for storing complex data structures, like storing student records where each student has multiple attributes.

python
Copy code
students = {
    "Alice": {"age": 25, "grade": "A"},
    "Bob": {"age": 22, "grade": "B"}
}
17. Describe the time complexity of accessing elements in a dictionary.
- The time complexity of accessing elements in a dictionary is O(1) on average due to the underlying hash table.

18. In what situations are lists preferred over dictionaries?
- Lists are preferred when the order of elements is important, and you need to perform sequential operations, like iterating through elements.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are considered unordered because they do not maintain the order of elements based on insertion. This means you cannot rely on the order when retrieving data.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- Lists use indices for data retrieval and maintain order, while dictionaries use keys for retrieval and do not guarantee order.

In [2]:
# 1. Write a code to create a string with your name and print it.
name = "Ankit Verma"
print(name)

Ankit Verma

In [3]:
2. #Write a code to find the length of the string "Hello World".
string = "Hello World"
length = len(string)
print(length)

11

In [4]:
3. # Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

In [5]:
4. # Write a code to convert the string "hello" to uppercase.

string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

In [6]:
5.#Write a code to replace the word "apple" with "orange" in the string "I like apple".

string = "I like apple"
replaced_string = string.replace("apple", "orange")
print(replaced_string)

I like orange

In [7]:
6. #Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [8]:
7.#Write a code to append the number 10 to the list [1, 2, 3, 4].

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [9]:
8.#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [11]:
 9.#Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [12]:
10.#Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
reversed_numbers = numbers[::-1]
print(reversed_numbers)

[50, 40, 30, 20, 10]

In [13]:
11.#Write a code to create a tuple with the elements 10, 20, 30 and print it.
numbers_tuple = (10, 20, 30)
print(numbers_tuple)

(10, 20, 30)

In [14]:
12.#Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

fruits = ('apple', 'banana', 'cherry')
first_element = fruits[0]
print(first_element)

apple

In [15]:
13.#Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
numbers_tuple = (1, 2, 3, 2, 4, 2)
count_2 = numbers_tuple.count(2)
print(count_2)

3

In [16]:
 14.#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
index_cat = animals.index('cat')
print(index_cat)

1

In [17]:
15.#Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

fruits = ('apple', 'orange', 'banana')
is_banana_in_tuple = 'banana' in fruits
print(is_banana_in_tuple)

True

In [18]:
16.#Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
numbers_set = {1, 2, 3, 4, 5}
print(numbers_set)

{1, 2, 3, 4, 5}

In [19]:
17.#Write a code to add the element 6 to the set {1, 2, 3, 4}.
numbers_set = {1, 2, 3, 4}
numbers_set.add(6)
print(numbers_set)

{1, 2, 3, 4, 6}

In [20]:
18.#Write a code to create a tuple with the elements 10, 20, 30 and print it.
numbers_tuple = (10, 20, 30)
print(numbers_tuple)

(10, 20, 30)

In [21]:
19.#Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
fruits = ('apple', 'banana', 'cherry')
first_element = fruits[0]
print(first_element)

apple

In [22]:
20.#Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
numbers_tuple = (1, 2, 3, 2, 4, 2)
count_2 = numbers_tuple.count(2)
print(count_2)

3

In [25]:
21.# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
index_cat = animals.index('cat')
print(index_cat)

1

In [24]:
22.#Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
fruits = ('apple', 'orange', 'banana')
is_banana_in_tuple = 'banana' in fruits
print(is_banana_in_tuple)

True

In [23]:
 23.#Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
numbers_set = {1, 2, 3, 4, 5}
print(numbers_set)

{1, 2, 3, 4, 5}

In [26]:
24.#Write a code to add the element 6 to the set {1, 2, 3, 4}.
numbers_set = {1, 2, 3, 4}
numbers_set.add(6)
print(numbers_set)

{1, 2, 3, 4, 6}